<launch>
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
        <arg name="model" value="burger"/>
    </include>
    <node pkg='hw1' name='avoid_wall' type='avoid_wall.py'>
        <param name='stop_dist' value='0.3' type='double'/>
        <param name='max_vel' value='0.5' type='double'/>
        <param name='ranges_idx' value='0' type='int'/>
        <param name='lidar_topic' value='scan' type='str'/>
        <param name='vel_topic' value='cmd_vel' type='str'/>
    </node>
</launch>